.main{
    background-color: red;
    padding:10px;
}

.main:hover{
    cursor: pointer;
}

.isOn{
    background-color: greenyellow;
    border-style: solid;
    padding: 20px;
}

.isOff{
    border-style: solid;
    padding: 20px;
}